@use 'base/variables' as v;
@use 'base/mixins' as m;

.serviciosDiv-resumen{
    .servicios-resumen-titulo{
        font-weight: bolder;
        font-size: 3.5rem;

    }
    .servicios-resumen-info{
        border-bottom: 1px solid v.$gris;
        
        @include m.tablet{
            display: flex;
            .servicio-resumen-nombre{
                flex-basis: 40%;
            }
        }
        
        span{
            color: v.$azul;
        }
    }
}